/* Your SCSS here. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$body_font: "Open Sans", sans-serif;
$nav_color: #1b1b1d;
$grey_color: #373737;
$orange_color: #e0850a;

body {
    margin: 0;
    color: white;
    background-color: white; 
    font-family: $body_font;
    width: 100%;
    height: 100%;
}
.navbar {
    height: 100px; 
    background-color: $nav_color;
    background-image: linear-gradient(to right, $nav_color, $nav_color);
    background-size: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: .4s;
}
.navbar-left {
    margin-left: 10%;
    transition: .4s;
}
.navbar-right {
    margin-right: 10%;  
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline;
        padding: 20px;
    }
    a {
        font-size: 20px;
        text-decoration: none;
        color: white;
        transition: .4s;  
    }
    a:hover {
        color: $orange_color
    }
}
.background-static-image {
    background-image: url('../assets/sunset.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 768px;
    margin-bottom: 0;
}
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%; 
    height: 400px;
}
.carousel-slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
.slide {
    flex: 0 0 100%;
    width: 100%;
    height: 500px;
    animation: fadeIn 1s ease-in-out;
}
@mixin slide-attributes($color) {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color;
}
.slide1 {
    @include slide-attributes($orange_color);
    ul {
        margin-bottom: 7%;
        font-size: 18px;
        text-align: left;
        column-count: 3;
        column-gap: 40px;
    }
}
.slide2 {
    background-color: #79549a; 
    h1 {
        text-align: center;
        margin-top: 60px;
        margin-bottom:0;
    }
    #left {
        float: left;
        margin-left: 20%;
        margin-bottom: 10px;
        font-size: 20px;
    }
    #right {
        float: right;
        margin-right:20%;
        margin-bottom: 10px;
        font-size: 20px;
    }
    ul {
        padding-top: 0;
        margin-top: 0;
        margin-left: 21%;
        font-size: 18px;
    }
}
.slide3 {
    @include slide-attributes(#8c0900);
    .bar {
        margin-right: 5%;
        display: flex;
        flex-direction: row;
        gap: 350px;
    }
    h3 {
        font-size: 20px;
    }
    ul {
        margin-bottom: 7%;
        margin-left: 5%;
        padding-top: 0;
        margin-top: 0;
        font-size: 18px;
        text-align: left;
        column-count: 2;
        column-gap: 0;
    }

}
.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background: rgba(255, 255, 255, 0);
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: transform .2s ease-out;
}
.prev-button:hover, .next-button:hover {
    transform: translateY(-50%) scale(1.4);
}
.prev-button {
    left: 0;
}
.next-button {
    right: 0;
}
@mixin stripe-attributes($alignment) {
    display: flex;
    flex-direction: column; 
    justify-content: $alignment;
    align-items: $alignment;
    background-size: 100%; 
    h1 {
        text-align: center;
        margin-top: 0;
    }
}
.stripe-grey {
    @include stripe-attributes(center); 
    background-color: $grey_color; 
    background-image: linear-gradient(to right, $grey_color, $grey_color);
    height: 500px;
    p {
        column-width: 200px;
        column-count: 2;
        column-gap: 70px;
        column-rule-style: solid;
        text-align: left;
        font-size: 18px;
        margin-top: 15px;
        margin-left: 25%;
        margin-right: 25%;
    }
}
.stripe-grey-small {
    @include stripe-attributes(center);
    background-color: $grey_color; 
    background-image: linear-gradient(to right, $grey_color, $grey_color);
    height: 401px;
    h1 {
        display: flex;
        justify-content: center;
        color: $nav_color;
        color: white;
    }
    .socials {
        @include stripe-attributes(center);
        flex-direction: row;
        margin-right: 1%;
    }
    #social-icon {
        font-size: 48px;
        background: rgba(255, 255, 255, 0);
        color: white;
        padding: 30px;
        transition: transform .2s ease-out;
    }
    #social-icon:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}
.footer{
    height: 70px;
    background-color: $nav_color;
    background-image: linear-gradient(to right, $nav_color, $nav_color); 
    background-size: 100%;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.stripe-white {
    @include stripe-attributes(center);
    background-color: white; 
    background-image: linear-gradient(to right, white, white);
    height: 400px;
    h1 {
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        color: $nav_color;
    }
    .icons {
        @include stripe-attributes(center);
        flex-direction: row;
    }
    .project-icon {
        font-size: 64px;
        background: rgba(255, 255, 255, 0);
        border: none;
        padding: 40px;
        border-radius: 20px;
        transition: transform .2s ease-out;
        #meteor {
            color: #6623a9;
        }
        #trophy {
            color: #e6b70f;
        }
        #rocket {
            color: #0dab27;
        }
        #car {
            color: #213d6e;
        }
        #graphics{
            color: #b83d3d;
        }
    }
    .project-icon:hover {
        cursor: pointer;
        transform: scale(1.2);
        background: #e0dcdc;
    }
}
.project-modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: -100%;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
.project-modal.show {
    top: 0;
    opacity: 1;
}
@mixin modal-attributes() {
    background-color: #fefefe;
    color: $nav_color;
    margin: 130px auto;
    border: 1px solid #888;
    width: 60%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 20px;
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-y: auto;
}
@mixin content-margin() {
    h1 {
        margin-bottom: 4%;
    }
    margin-top: 2.5%;
}
.modal-content {
    @include modal-attributes();
    position:relative;
    h3 {
        margin-top: 2.5%;
        padding-bottom: 4%;
        // padding-left: 3%;
        // padding-right: 3%;
    }
    #meteor-content {
        @include content-margin();
        span {
            color:#6623a9;
        }
    }
    #trophy-content {
        @include content-margin();
        span {
            color:#e6b70f;
        }
    }
    #rocket-content {
        @include content-margin();
        span {
            color:#0dab27;
        }
    }
    #car-content {
        @include content-margin();
        span {
            color:#213d6e;
        }
    }
    #graphics-content {
        @include content-margin();
        span {
            color:#b83d3d;
        }
    }
    #github {
        font-size: 50px;
        color: $nav_color;
        font-weight: bold;
        cursor: pointer;
        position: absolute; 
        top: 6%;
        left: 5%;   
    }
}
.modal-content::-webkit-scrollbar { 
    display: none;  
}
.close-button {
    font-size: 50px;
    color: $nav_color;
    font-weight: bold;
    cursor: pointer;
    position: absolute; 
    top: 4.8%;
    right: 5%;
}
.close-button:hover{
    color:red;
}
@mixin image-attributes() {
    height: 66%;
    width: 84%;
    margin-top: 1%;
    padding: 1.7%;
    border-radius: 10px;   
}
video {
    height: 65%;
    width: 80%;
    margin-top: 1%;
    padding: 1%;
    border-radius: 10px;    
    border-top: 4px solid #6623a9;
    border-bottom: 4px solid #6623a9;
}
#calorie-img {
    @include image-attributes();
    border-top: 4px solid #e6b70f;
    border-bottom: 4px solid #e6b70f;
}
#rocket-img {
    @include image-attributes();
    border-top: 4px solid #0dab27;
    border-bottom: 4px solid #0dab27;
}
#car-img {
    @include image-attributes();
    border-top: 4px solid #213d6e;
    border-bottom: 4px solid #213d6e;
}
#graphics-img {
    background-size: cover; 
    margin-top: 1%;
    padding: 1.7%;
    border-radius: 10px;    
    border-top: 4px solid #b83d3d;
    border-bottom: 4px solid #b83d3d;
}







